.signInButton {
	background: var(--gray-800);
	color: var(--white);
	font-weight: bold;
	border: 0;
	border-radius: 3rem;
	padding: 0 2rem;
	height: 3rem;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	transition: filter 0.2s;
	svg {
		margin-right: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
	}
	svg:first-child {
		margin-right: 1rem;
	}
	svg.closeIcon {
		margin-left: 1rem;
	}

	&:hover {
		filter: brightness(0.9);
	}
}
